/*  45 - 70 characters wide */

/* Base */

/*  
    --header-bg-color: #8ca0ff;;
    --toggle-bg-color: #8cffa0;
    --main-bg-color: #ffff64; 
    --footer-bg-color: #8cffa0; 
    --nav-bg-color: #b33f26;  
*/


:root {
  --body-bg-color: #fff;
  --body-color: #2c2c2c;
  

  --header-bg-color: #e1e1e1;
  --toggle-bg-color: #e1e1e1;
  --main-bg-color: #ffffff;
  --footer-bg-color: #e1e1e1;
  --nav-bg-color: #32425c;
  --nav-color: #fff;
  --pre-bg-color: #f5f5f5;
  --table-bg-color: #e1e1e1;
  --thead-bg-color: #d2d2d2;
  --body-font-size: 16px;

  --link-visited-color: #32425c;
  --link-color: #6384b8;
  --link-hover-color: #0c1117;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: var(--body-color);
  background: var(--body-bg-color);
  font-size: calc(var(--body-font-size) + 2 * (100vw / 300));
  margin: 0;
  padding: 0;
}

/* Page Layout - Header, Main, Footer */
body {
  display: grid;
  max-width: 100vw;
  height: 100vh;
  grid-template-areas:
    "head"
    "main"
    "foot";
  grid-template-rows: 2.2em 1fr 2.2em;
  grid-template-columns: 1fr;
}

body > header {
  grid-area: head;
  background-color: var(--header-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

body > input {
  display: none;
}

body > label {
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--toggle-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.2em;
  min-width: 50px;
  padding: 0 1vw;
  border-right: 1px solid #b5b5b5;
  transition: all 500ms;
}

body > label:hover {
  color: var(--nav-color);
  background-color: var(--nav-bg-color);
}

body > label > span {
  font-size: 1.5em;
}

body > main {
  grid-area: main;
  display: grid;
  position: relative;
  max-width: 100vw;
  grid-template-areas: "section";
  grid-template-columns: 1fr;
  background-color: var(--main-bg-color);
}

body > footer {
  grid-area: foot;
  background-color: var(--footer-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main Layout - Navigation and Article */

main > nav {
  display: inline-block;
  position: absolute;
  padding: 2vh 1vw;
  top: 0;
  bottom: 0;
  left: calc(-1 * 200px + 5vw);
  max-width: 100vw;
  width: calc(200px + 5vw);
  opacity: 0;
  transition: 0.5s;
  overflow: hidden;
}

input:checked ~ main > nav {
  opacity: 1;
  left: 0;
  background-color: var(--nav-bg-color);
}

main > section {
  padding: 2vw 4vw;
  grid-area: section;
  min-width: 100%;
}

@media screen and (min-width: 500px) {
  main > section {
    padding: 2vw 10vw;
  }
}

@media screen and (min-width: 1000px) {
  main > section {
    padding: 4vw 20vw;
  }
}

@media screen and (min-width: 1500px) {
  main > section {
    padding: 6vw 25vw;
  }
}

@media screen and (min-width: 2500px) {
  main > section {
    padding: 8vw 35vw;
  }
}

/* Navigation */

main > nav > ul {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

main > nav > ul > li {
  list-style-type: none;
  padding: 5px 10px;
  margin: 2px;
}

main > nav a,
main > nav a:visited,
main > nav a:hover,
main > nav a:focus {
  font-size: 1.1em;
  color: var(--nav-color);
}

/* Elements*/

table,
pre {
  overflow-x: auto;
}

table,
article a {
  word-wrap: break-word;
  word-break: break-all;
}

thead {
  background: var(--thead-bg-color);
}
th,
td {
  padding: 1vw;
  border: 1px solid;
}

table {
  background: var(--table-bg-color);
  border: 1px solid;
}

pre {
  background-color: var(--pre-bg-color);
  border: 1px solid;
  font-size: 0.8em;
  white-space: pre;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
}

/* Links */

a {
  color: var(--link-color);
}

a:visited {
  color: var(--link-visited-color);
}

a:hover {
  color: var(--link-hover-color);
}

/* Site Title */
a.site-title {
  text-decoration: none;
  color: var(--body-color);
}

/* List of posts  */
.post-list-item,
.post-list-item:focus,
.post-list-item:visited {
  color: var(--body-color);
  background: var(--pre-bg-color);
  border: 1px solid;
  display: block;
  margin: 1vw 0;
  padding: 2vw 4vw;
  list-style-type: none;
  text-decoration: none;
}

.post-list-item:hover {
  box-shadow: 1px 1px 1px;
}

.post-list ul {
  margin: 0;
  padding: 0;
}

.post-list li {
  list-style-type: none;
}
