<!DOCTYPE html>
<html lang="en">

<head>
  {{- partial "head.meta.html" . -}}
  {{- partial "head.critical.css.html" . -}}
  {{- partial "head.critical.js.html" . -}}
  {{- partial "head.links.html" . -}}
  {{- partial "head.analytics.html" . -}}
</head>

<body>
  <div id="skip"><a href="#content">Skip to Main Content</a></div>
  <div id="top-bar">
    <button id="toggle-main-nav" class="hamburger" aria-label="toggle main nav" onclick="toggleMainNav()">
      <span class="hamburger-outer">
        <span class="hamburger-inner"></span>
        <span class="hamburger-inner"></span>
        <span class="hamburger-inner"></span>
      </span>
    </button>
    <a href="/" class="site-title">
      <span>{</span>
      {{ range $letter := split .Site.Title "" }}
      <span>{{$letter}}</span>
      {{end}}
      <span>}</span>
    </a>
  </div>
  {{- partial "header.html" . -}}
  <nav id="main-nav" class="hidden" aria-hidden="true">
    <ul>
      {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
      {{if eq $taxonomyname "categories"}}
      {{ range $key, $value := $taxonomy }}
      <li>
        <a id="{{$key}}" href="{{$value.Page.Permalink}}">
          {{ $value.Page.LinkTitle }}
        </a>
      </li>
      {{ end }}
      {{ end }}
      {{ end }}
    </ul>
  </nav>
  <main id="content">
    {{- block "main" . }}{{- end }}
  </main>
  {{- partial "footer.html" . -}}
</body>

</html>
