<!DOCTYPE html>
<html lang="en">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <main id="content">
            <nav>
                    <ul>
                        <li>
                            <a href="/blog">Blog</a>
                        </li>
                        <li> 
                            <a href="/about">About</a>
                        <li>
                            <a href="/">Home</a></li>
                        </li>
                    </ul>
                </nav>
            <article>
                    {{- block "main" . }}{{- end }}
            </article> 
        </main>
        {{- partial "footer.html" . -}}
    </body>
</html> 
