{{ define "main" }}
<section id="single">
  <aside id="topbar">
    {{ if ne .Page.Params.date nil }}
      <span>{{ dateFormat "January, 2006" .Date }}</span>
    {{ end }}
    {{- partial "tags-links-items.html" . -}}
  </aside>
  {{ if and (gt (len .TableOfContents) 40) (eq .Page.Params.toc true) }}
  <aside id="sidebar-left">
    <h2>Outline</h2>
    {{ .Page.TableOfContents }}
  </aside>
  {{ end }}
  <article id="content">
    {{ .Content }}
  </article>
  {{if .Params.series }}
  <aside id="sidebar-right">
    <nav>
      <strong>
        Series: {{ replace .Params.series "-" " " }}
      </strong>
      <ul>
        {{ range (index .Site.Taxonomies.series .Params.series ) }}
        <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a></li>
        {{ end }}
      </ul>
    </nav>
  </aside>
  {{ end }}
  <aside id="bottombar">
    {{- partial "tags-links-items.html" . -}}
  </aside>
</section>
{{ end }}
