<footer>
  <div class="left">
    <small>
      {{ replace .Site.Copyright "{year}" (now.Format "2006") }}
    </small>
  </div>
  <span class="vertical-bar"></span>
  <div class="right">
    <a href="/about">
      <small>
        about
      </small>
    </a>
  </div>

  {{ if eq .Site.Params.env "dev" }}
  {{ $mainJs := resources.Get "scripts/main.js" }}
  {{ $vendorJs := resources.Get "vendor/vendor.js" }}
  <script src="{{ $vendorJs.Permalink }}"></script>
  <script src="{{ $mainJs.Permalink }}"></script>
  {{ else }}
  {{ $mainJs := resources.Get "scripts/main.js" | js.Build "main.js" | minify | fingerprint }}
  {{ $vendorJs := resources.Get "vendor/vendor.js" | js.Build "vendor.js" | minify | fingerprint }}
  <script src="{{ $vendorJs.Permalink }}"></script>
  <script src="{{ $mainJs.Permalink }}"></script>
  {{ end }}
</footer>
