<footer>
  <div class="left">
    <small>
      {{ replace .Site.Copyright "{year}" (now.Format "2006") }}
    </small>
  </div>
  <span class="vertical-bar"></span>
  <div class="right">
    <a href="/about/">
      about
    </a>
  </div>

  {{ $mainJs := resources.Get "scripts/main.js" }}
  {{ $vendorJs := resources.Get "vendor/vendor.js" }}
  {{ if eq .Site.Params.env "dev" }}
  <script src="{{ $mainJs.Permalink }}"></script>
  {{ if $vendorJs }}
  <script src="{{ $vendorJs.Permalink  }}"></script>
  {{ end }}
  {{ else }}
  {{ $mainJs := $mainJs | minify | fingerprint }}
  <script src="{{ $mainJs.Permalink }}"></script>
  {{ if $vendorJs }}
  {{ $vendorJs := $vendorJs | minify | fingerprint }}
  <script src="{{ $vendorJs.Permalink  }}"></script>
  {{ end }}
  {{ end }}
</footer>
