{{ $mainCSS := resources.Get "styles/main.css" }}
{{ $vendorCSS := resources.Get "vendor/vendor.css" }}
{{ if eq .Site.Params.env "dev" }}
<link rel="stylesheet" href="{{ $mainCSS.Permalink }}">
{{ if $vendorCSS }}
  <link rel="stylesheet" href="{{ $vendorCSS.Permalink }}">
{{ end }}
{{ else }}
  {{ $mainCSS := $mainCSS | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $mainCSS.Permalink }}">
  {{ if $vendorCSS }}
    {{ $vendorCSS := $vendorCSS | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $vendorCSS.Permalink }}">
  {{ end }}
{{ end }}
