<nav id="main-nav" class="hidden" aria-hidden="true">
  <ul class="nav-top">
    <li>
      <a id="categories" href="/categories">
        Categories
      </a>
    </li>
    <li>
      <a id="tags" href="/tags">
        Tags
      </a>
    </li>
    <li>
      <a id="jargon" href="/jargon">
        Jargon
      </a>
    </li>
  </ul>
  <ul class="nav-left">
  {{ range where .Site.Menus.main "Name" "ne" "Jargon" }}
     {{ if gt (len .Name) 0 }}
      <li>
        <a id="{{ .Title }}" href="{{ .URL }}">{{ .Name }}</a>
      </li>
    {{ end }}
  {{ end }}
  </ul>
</nav>


