<nav class="post-list">
  {{ if .IsHome }}
  <ul>
    {{ range where .Site.RegularPages "Type" "not in" (slice "jargon" ) }}
    {{ if ne .Name "About" }}
      {{- partial "post-list-item" . -}}
    {{ end }}
    {{ end }}
  </ul>
  {{ else if in (slice "tags" "categories") .Page.Type }}
  <ul>
    {{ range sort .Pages "Title" }}
      {{- partial "post-list-item" . -}}
    {{ end }}
  </ul>
  {{ else }}
  <ul>
    {{ range .RegularPages }}
      {{- partial "post-list-item" . -}}
    {{ end }}
  </ul>
  {{ end }}
</nav>
