<nav class="post-list">
  {{ if .IsHome }}
  <ul>
    {{ range .Site.RegularPages }}
    {{ if ne .Name "About" }}
    <li>
      <a class="post-list-item" href={{ .Permalink }}>
        <div>
          <h3>{{ .Title }}</h3>
          <p> {{ .Description }}</p>
        </div>
      </a>
    </li>
    {{ end }}
    {{ end }}
  </ul>
  {{ else }}
  <ul>
    {{ range .Pages }}
    <li>
      <a class="post-list-item" href={{ .Permalink }}>
        <div>
          <h3>{{ .Title }}</h3>
          <p> {{ .Description }}</p>
        </div>
      </a>
    </li>
    {{ end }}
  </ul>
  {{ end }}
</nav>
