<nav>
  <strong>
    Series: {{ .Params.series }}
  </strong>
  <ul>
    {{ $pageTitle := .Title }}
    {{ $related := (union (.Site.RegularPages.RelatedIndices . "series")  (slice  .))}}
    {{ if .Params.series_weight }}
      {{ $related = sort $related ".Params.series_weight" "asc" }}
    {{ else }}
      {{ $related = sort $related "Date" "desc" }}
    {{ end }}
    {{ range $related }}
    {{ if eq .Title $pageTitle }}
    <li><a href="{{ .Permalink }}"><strong>{{ .Title }}</strong></a></li>
    {{ else }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
    {{ end }}
  </ul>
</nav>
