//for programatic use only.
//hidden from tabindex
//but still animates
*[data-hidden] {
    visibility: hidden;
}

#skip {
    left: 0;
    position: fixed;
    top: 0;
    z-index: 5;
}

#skip a,
#skip a:visited,
#skip a:active,
#skip a:hover {
    color: var(--foreground);
    left: -10000px;
    overflow: hidden;
    position: absolute;
    transition: all 300ms;
}

@keyframes skip {
    from {
        position: absolute;
    }

    to {
        position: static;
    }
}

#skip a:focus {
    animation-delay: 300ms;
    animation-fill-mode: both;
    animation-name: skip;
    background: var(--pink);
    margin: 20px 50px;
    outline-color: white;
    padding: 15px 20px;
    transition: all 300ms;
}
