:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: var(--bgdarker) !important;
}

pre,
li > code,
p > code {
  background-color: var(--pre-bg-color);
  border: 1px solid;
  font-size: 0.8em;
  white-space: pre;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
}

li > code,
p > code {
  padding-left: 10px;
  padding-right: 10px;
}
