// override code theme
:not(pre) > code[class*='language-'],
pre[class*='language-'] {
    background-color: var(--bgdarker) !important;
    border-radius: 0 !important;
}

pre,
li > code,
p > code {
    color: var(--cyan);
    background-color: var(--bglighter);
    border: var(--bgdark) 2px solid;
    padding: 0.2em;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 0.8em;
    text-align: left;
    white-space: pre;
    white-space: pre-line;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
}

li > code,
p > code {
    padding-left: 10px;
    padding-right: 10px;
}

div.highlight {
    margin-left: 1em;
    margin-right: 1em;
}
