:root {
    --fg: #f8f8f2;
    --bglighter: #424450;
    --bglight: #343746;
    --bg: #282a36;
    --bgdark: #21222c;
    --bgdarker: #191a21;
    --comment: #6272a4;
    --selection: #44475a;
    --subtle: #424450;
    --cyan: #8be9fd;
    --green: #50fa7b;
    --orange: #ffb86c;
    --pink: #ff79c6;
    --purple: #bd93f9;
    --red: #f55;
    --yellow: #f1fa8c;
    --background: #282a36;
    --comment: #6272a4;
    --foreground: #f8f8f2;
    --selection: #44475a;
    --cyan: #8be9fd;
    --green: #50fa7b;
    --orange: #ffb86c;
    --pink: #ff79c6;
    --purple: #bd93f9;
    --red: #f55;
    --yellow: #f1fa8c;
    --background-30: #282a3633;
    --comment-30: #6272a433;
    --foreground-30: #f8f8f233;
    --selection-30: #44475a33;
    --cyan-30: #8be9fd33;
    --green-30: #50fa7b33;
    --orange-30: #ffb86c33;
    --pink-30: #ff79c633;
    --purple-30: #bd93f933;
    --red-30: #f553;
    --yellow-30: #f1fa8c33;
    --background-40: #282a3666;
    --comment-40: #6272a466;
    --foreground-40: #f8f8f266;
    --selection-40: #44475a66;
    --cyan-40: #8be9fd66;
    --green-40: #50fa7b66;
    --orange-40: #ffb86c66;
    --pink-40: #ff79c666;
    --purple-40: #bd93f966;
    --red-40: #f556;
    --yellow-40: #f1fa8c66;
    --a: mediumspringgreen;
    --c: deeppink;
    --d: darkviolet;
    --e: dodgerblue;
    --f: fuchsia;
    --g: chartreuse;
    --h: crimson;
    --i: yellow;
    --j: black;
    --k: white;
    --l: dimgrey;
    --m: mediumslateblue;
    --n: darkorchid;
    --o: hotpink;
    --top-bar-color: #e1e1e1;
    --top-bar-bg-color: #e1e1e1;
    --toggle-main-nav-color: #e1e1e1;
    --toggle-main-nav-bg-color: #e1e1e1;
    --header-color: #e1e1e1;
    --header-bg-color: #e1e1e1;
    --body-color: #2c2c2c;
    --body-bg-color: #fff;
    --body-font-size: 16px;
    --main-color: #fff;
    --main-bg-color: whitesmoke;
    --footer-color: #e1e1e1;
    --footer-bg-color: #e1e1e1;
    --nav-bg-color: #32425c;
    --nav-color: #fff;
    --pre-color: #f5f5f5;
    --pre-bg-color: #f5f5f5;
    --table-bg-color: #e1e1e1;
    --thead-bg-color: #d2d2d2;
    --link-color: #1167ef;
    --link-visited-color: #07398c;
    --link-hover-color: #011225;
    --link-active-color: #1167ef;
}
