article {
    margin-bottom: 3em;
}

blockquote {
    border: 1px solid;
    border-left: var(--body-color) 0.5em solid;
    padding: 0.5em 1.5em;
    margin: 0em;
    > * {
        background: var(--cyan-40);
    }
}

cite {
    font-size: 0.9em;
}
