article {
    margin-bottom: 3em;
}

blockquote {
    background: rgb(240, 240, 240);
    border-left: var(--body-color) 0.5em solid;
    padding: 0.5em 1.5em;
    margin: 1em 0 2em;
}

cite {
    font-size: 0.9em;
}
