.hamburger-outer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.hamburger-inner {
    background: var(--background);
    border-radius: 0px;
    display: inline-block;
    height: 8px;
    position: relative;
    width: 100%;
}

.hamburger-inner::before,
.hamburger-inner::after {
    background: var(--background);
    border-radius: 0px;
    content: '';
    display: inline-block;
    height: 8px;
    left: 0;
    position: absolute;
    width: 100%;
}

.hamburger-inner::before {
    top: -16px;
}

.hamburger-inner::after {
    bottom: -16px;
}
