@import "link";

body {
  display: grid;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
  grid-template-areas:
    "actions"
    "head"
    "main" /*  45 - 70 characters wide */
    "foot";
  grid-template-rows: 80px 12em 1fr 12em;
  grid-template-columns: 100vw;

  &.modal-open {
    overflow: hidden !important;
  }
}

#top-bar {
  grid-area: actions;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  background: var(--bg);
  display: flex;
  flex-direction: row;
  padding: 15px 1em;
  align-items: center;

  *:focus {
    outline: dashed 3px var(--foreground);
  }

  .hamburger {
    color: var(--nav-bg-color);
    background: var(--green);
    border: none;
    padding: 5px 10px;
    width: 75px;
    height: 55px;
    border-radius: 4px;
  }
}

header {
  grid-area: head;
  background-color: var(--bgdarker);
  display: flex;
  justify-content: center;
  align-items: center;
  @include link_color(
    var(--purple),
    var(--purple),
    var(--purple),
    var(--purple)
  );

  *:focus {
    outline: dashed 3px var(--foreground);
  }

  .site-title {
    text-decoration: none;
    color: var(--purple) !important;
    padding: 20px 50px;
    background-color: var(--bg);
  }
}

#main-nav {
  position: fixed;
  background-color: var(--bgdarker);
  opacity: 0;
  top: 80px;
  left: -100vw;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  z-index: 1;
  transition: opacity, left, 300ms ease-in-out;

  *:focus {
    outline: dashed 3px var(--foreground);
  }

  &.active {
    opacity: 1;
    transform: translateX(100vw);
  }

  a,
  a:visited,
  a:hover,
  a:focus {
    font-size: 1em;
    color: var(--purple);
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: flex-start;
    height: 100%;
    margin: 2em 0;
    padding: 0;
    font-size: 1.5em;

    li {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      margin: 0.15em 0;
      padding: 0.35em 0;

      &.active,
      &.active a {
        color: var(--bgdarker);
        background: var(--purple);
      }

      a {
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline 3px var(--green);
      }
    }
  }
}

main {
  grid-area: main;
  display: grid;
  position: relative;
  max-width: 100vw;
  grid-template-areas: "section";
  grid-template-columns: 1fr;
  background-color: var(--main-bg-color);
}

footer {
  grid-area: foot;
  background-color: var(--bgdark);
  color: white;
  display: grid;
  grid-template-columns: 1fr 2em 1fr;
  grid-template-rows: auto;
  align-items: center;
  @include link_color(
    var(--purple),
    var(--purple),
    var(--purple),
    var(--purple)
  );

  &:first-child {
    justify-self: end;
  }

  .left {
    display: flex;
    justify-content: flex-end;
    & small {
      text-align: right;
    }
  }

  .right {
    display: flex;
    justify-content: flex-start;
  }

  *:focus {
    outline: dashed 3px var(--foreground);
  }
}

#main-nav ul li,
#top-bar {
  padding: 0 4vw;
}

@media screen and (min-width: 500px) {
  #main-nav ul li,
  #top-bar {
    padding: 0 10vw;
  }
}

@media screen and (min-width: 1000px) {
  #main-nav ul li,
  #top-bar {
    padding: 0 20vw;
  }
}

@media screen and (min-width: 1500px) {
  #main-nav ul li,
  #top-bar {
    padding: 0 15vw;
  }
}

@media screen and (min-width: 2500px) {
  #main-nav ul li,
  #top-bar {
    padding: 0 25vw;
  }
}

main > section {
  padding: 2vw 4vw;
  grid-area: section;
  min-width: 100%;
}

@media screen and (min-width: 500px) {
  main > section {
    padding: 2vw 10vw;
  }
}

@media screen and (min-width: 1000px) {
  main > section {
    padding: 4vw 20vw;
  }
}

@media screen and (min-width: 1500px) {
  main > section {
    padding: 6vw 15vw;
  }
}

@media screen and (min-width: 2500px) {
  main > section {
    padding: 8vw 25vw;
  }
}
