.post-list {
    > ul {
        margin: 0;
        padding: 0;

        > li {
            list-style-type: none;
            width: 100%;
            margin-bottom: 1.5em;

            h3,
            p {
                margin: 0;
            }

            .post-list-item {
                &.empty {
                    border-left: 0.3em solid var(--green);
                    padding-left: 1em;
                }
                background: var(--bgdarker);
                border-radius: 0px;
                color: var(--purple);
                display: block;
                flex-basis: 100%;
                padding: 0;
                list-style-type: none;
                text-decoration: none;

                &:active,
                &:hover,
                &:focus {
                    outline: 3px dashed black;
                }

                h5 {
                    background: var(--bg);
                    margin-top: 0.5em;
                }

                p {
                    background: var(--bg);
                    color: var(--green);
                }

                .date {
                    color: var(--yellow);
                    background: var(--bglighter);
                    float: right;
                    margin-left: 2em;
                }
            }
            .tag-list,
            .category-list {
                justify-content: flex-end;
                font-size: 16px;
            }
        }
    }
}
