.post-list {
    ul {
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;
            width: 100%;

            h3 {
                margin-top: 0;
            }

            .post-list-item {
                background: var(--bgdarker);
                border-radius: 0px;
                color: var(--purple);
                display: block;
                flex-basis: 100%;
                list-style-type: none;
                margin: 0.5em 0;
                padding: 0;
                text-decoration: none;

                &:active,
                &:hover,
                &:focus {
                    outline: 3px dashed black;
                }

                h5 {
                    background: var(--bg);
                    margin-top: 0.5em;
                }

                p {
                    background: var(--bg);
                    color: var(--green);
                }

                .date {
                    color: var(--yellow);
                    display: block;
                    text-align: right;
                }
            }
        }
    }
}
