html {
    box-sizing: border-box;
    word-break: break-word;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*:focus {
    outline: 3px dashed black;
}

body {
    color: var(--body-color);
    font-size: calc(var(--body-font-size) + 1 * (100vw / 500));
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}
