table,
pre {
    overflow-x: auto;
}

thead {
    background: var(--thead-bg-color);
}

th,
td {
    border: 1px solid;
    padding: 1vw;
}

table {
    background: var(--table-bg-color);
    border: 1px solid;
}
