table,
pre {
    overflow-x: auto;
}

table {
    border: 1px solid;
}

thead {
    background: var(--yellow);
}

tbody {
    background: var(--yellow-40);
}

th,
td {
    border: 1px solid;
    padding: 1vw;
}
