.tag-list,
.category-list {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li:first-of-type a {
        margin-left: 0;
    }
    li {
        margin: 0;
        margin-bottom: 0.5em;
    }
}

a.tag,
a.category {
    border-radius: 0px;
    margin: 0 5px;
    padding: 5px 15px;
    text-transform: uppercase;
}

a.category {
    background: var(--red);
    color: var(--bgdarker);
}

a.category,
a.category:visited,
a.category:hover,
a.category:active {
    color: var(--bgdarker);
}

a.category:active,
a.category:hover,
a.category:focus {
    outline: 3px dashed black;
}

a.tag {
    background: var(--purple);
    color: var(--bgdarker);
}

a.tag,
a.tag:visited,
a.tag:hover,
a.tag:active {
    color: var(--bgdarker);
}

a.tag:active,
a.tag:hover,
a.tag:focus {
    outline: 3px dashed black;
}
