.overflow-hidden {
    overflow: hidden !important;
}

.hidden {
    visibility: hidden;
}

.vertical-bar {
    background-color: currentColor;
    height: 2em;
    margin: 0 1em;
    width: 3px;
}

.lower {
    text-transform: lowercase;
}

.upper {
    text-transform: uppercase;
}

.caps {
    text-transform: capitalize;
}
