:root {
  --fg: #f8f8f2;
  --bglighter: #424450;
  --bglight: #343746;
  --bg: #282a36;
  --bgdark: #21222c;
  --bgdarker: #191a21;
  --comment: #6272a4;
  --selection: #44475a;
  --subtle: #424450;
  --cyan: #8be9fd;
  --green: #50fa7b;
  --orange: #ffb86c;
  --pink: #ff79c6;
  --purple: #bd93f9;
  --red: #ff5555;
  --yellow: #f1fa8c;
  --background: #282a36;
  --comment: #6272a4;
  --foreground: #f8f8f2;
  --selection: #44475a;
  --cyan: #8be9fd;
  --green: #50fa7b;
  --orange: #ffb86c;
  --pink: #ff79c6;
  --purple: #bd93f9;
  --red: #ff5555;
  --yellow: #f1fa8c;
  --background-30: #282a3633;
  --comment-30: #6272a433;
  --foreground-30: #f8f8f233;
  --selection-30: #44475a33;
  --cyan-30: #8be9fd33;
  --green-30: #50fa7b33;
  --orange-30: #ffb86c33;
  --pink-30: #ff79c633;
  --purple-30: #bd93f933;
  --red-30: #ff555533;
  --yellow-30: #f1fa8c33;
  --background-40: #282a3666;
  --comment-40: #6272a466;
  --foreground-40: #f8f8f266;
  --selection-40: #44475a66;
  --cyan-40: #8be9fd66;
  --green-40: #50fa7b66;
  --orange-40: #ffb86c66;
  --pink-40: #ff79c666;
  --purple-40: #bd93f966;
  --red-40: #ff555566;
  --yellow-40: #f1fa8c66;
  --a: mediumspringgreen;
  --c: deeppink;
  --d: darkviolet;
  --e: dodgerblue;
  --f: fuchsia;
  --g: chartreuse;
  --h: crimson;
  --i: yellow;
  --j: black;
  --k: white;
  --l: dimgrey;
  --m: mediumslateblue;
  --n: darkorchid;
  --o: hotpink;
  --top-bar-color: #e1e1e1;
  --top-bar-bg-color: #e1e1e1;
  --toggle-main-nav-color: #e1e1e1;
  --toggle-main-nav-bg-color: #e1e1e1;
  --header-color: #e1e1e1;
  --header-bg-color: #e1e1e1;
  --body-color: #2c2c2c;
  --body-bg-color: #fff;
  --body-font-size: 16px;
  --main-color: #fff;
  --main-bg-color: #fff;
  --footer-color: #e1e1e1;
  --footer-bg-color: #e1e1e1;
  --nav-bg-color: #32425c;
  --nav-color: #fff;
  --pre-color: #f5f5f5;
  --pre-bg-color: #f5f5f5;
  --table-bg-color: #e1e1e1;
  --thead-bg-color: #d2d2d2;
  --link-color: #1167ef;
  --link-visited-color: #07398c;
  --link-hover-color: #011225;
  --link-active-color: #1167ef; }

html {
  box-sizing: border-box;
  word-break: break-word; }

*,
*:before,
*:after {
  box-sizing: inherit; }

*:focus {
  outline: 3px dashed black; }

body {
  color: var(--body-color);
  font-size: calc(var(--body-font-size) + 2 * (100vw / 300));
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

.overflow-hidden {
  overflow: hidden !important; }

.hidden {
  visibility: hidden; }

.vertical-bar {
  width: 3px;
  height: 2em;
  margin: 0 1em;
  background-color: currentColor; }

.lower {
  text-transform: lowercase; }

.upper {
  text-transform: uppercase; }

.caps {
  text-transform: capitalize; }

*[data-hidden] {
  visibility: hidden; }

#skip {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0; }

#skip a,
#skip a:visited,
#skip a:active,
#skip a:hover {
  position: absolute;
  left: -10000px;
  overflow: hidden;
  transition: all 300ms;
  color: var(--foreground); }

@keyframes skip {
  from {
    position: absolute; }
  to {
    position: static; } }

#skip a:focus {
  margin: 20px 50px;
  padding: 15px 20px;
  background: var(--pink);
  transition: all 300ms;
  animation-fill-mode: both;
  animation-delay: 300ms;
  animation-name: skip;
  outline-color: white; }

/* Links */
a {
  color: var(--link-color); }

a:visited {
  color: var(--link-visited-color); }

a:hover {
  color: var(--link-hover-color); }

h1,
h2,
h3,
h4,
h5 {
  margin-top: 2.5em;
  margin-bottom: 1em; }

h1 {
  font-size: 3em;
  margin-top: 1em; }

h2 {
  font-size: 2.6em; }

h3 {
  font-size: 2.2em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.4em; }

h5 {
  font-size: 1.3em; }

article {
  margin-bottom: 3em; }

pre,
li > code,
p > code {
  background-color: var(--pre-bg-color);
  border: 1px solid;
  font-size: 0.8em;
  white-space: pre;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal; }

li > code,
p > code {
  padding-left: 10px;
  padding-right: 10px; }

blockquote {
  background: var(--pre-bg-color);
  border-left: 0.1em solid;
  padding: 0.5em 1.5em; }

cite {
  font-size: 0.9em; }

table,
pre {
  overflow-x: auto; }

thead {
  background: var(--thead-bg-color); }

th,
td {
  padding: 1vw;
  border: 1px solid; }

table {
  background: var(--table-bg-color);
  border: 1px solid; }

/* Links */
a {
  color: var(--link-color); }

a:visited {
  color: var(--link-visited-color); }

a:hover {
  color: var(--link-hover-color); }

body {
  display: grid;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
  grid-template-areas: "actions" "head" "main" "foot";
  grid-template-rows: 80px 12em 1fr 12em;
  grid-template-columns: 100vw; }
  body.modal-open {
    overflow: hidden !important; }

#top-bar {
  grid-area: actions;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  background: var(--bg);
  display: flex;
  flex-direction: row;
  padding: 15px 1em;
  align-items: center; }
  #top-bar *:focus {
    outline: dashed 3px var(--foreground); }
  #top-bar .hamburger {
    color: var(--nav-bg-color);
    background: var(--green);
    border: none;
    padding: 5px 10px;
    width: 75px;
    height: 55px;
    border-radius: 4px; }

header {
  grid-area: head;
  background-color: var(--bgdarker);
  display: flex;
  justify-content: center;
  align-items: center; }
  header a {
    color: var(--purple); }
  header a:visited {
    color: var(--purple); }
  header a:hover {
    color: var(--purple); }
  header a:active {
    color: var(--purple); }
  header *:focus {
    outline: dashed 3px var(--foreground); }
  header .site-title {
    text-decoration: none;
    color: var(--purple) !important;
    padding: 20px 50px;
    background-color: var(--bg); }

#main-nav {
  position: fixed;
  background-color: var(--bgdarker);
  opacity: 0;
  top: 80px;
  left: -100vw;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  z-index: 1;
  transition: opacity, left, 300ms ease-in-out; }
  #main-nav *:focus {
    outline: dashed 3px var(--foreground); }
  #main-nav.active {
    opacity: 1;
    transform: translateX(100vw); }
  #main-nav a,
  #main-nav a:visited,
  #main-nav a:hover,
  #main-nav a:focus {
    font-size: 1em;
    color: var(--purple); }
  #main-nav ul {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    font-size: 1.5em; }
    #main-nav ul li {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      margin: 0.15em 0;
      padding: 0.35em 0; }
      #main-nav ul li.active,
      #main-nav ul li.active a {
        color: var(--bgdarker);
        background: var(--purple); }
      #main-nav ul li a {
        text-decoration: none; }

main {
  grid-area: main;
  display: grid;
  position: relative;
  max-width: 100vw;
  grid-template-areas: "section";
  grid-template-columns: 1fr;
  background-color: var(--main-bg-color); }

footer {
  grid-area: foot;
  background-color: var(--bgdark);
  color: white;
  display: grid;
  grid-template-columns: 1fr 2em 1fr;
  grid-template-rows: auto;
  align-items: center; }
  footer a {
    color: var(--purple); }
  footer a:visited {
    color: var(--purple); }
  footer a:hover {
    color: var(--purple); }
  footer a:active {
    color: var(--purple); }
  footer:first-child {
    justify-self: end; }
  footer .left {
    display: flex;
    justify-content: flex-end; }
    footer .left small {
      text-align: right; }
  footer .right {
    display: flex;
    justify-content: flex-start; }
  footer *:focus {
    outline: dashed 3px var(--foreground); }

#main-nav ul li,
#top-bar {
  padding: 0 4vw; }

@media screen and (min-width: 500px) {
  #main-nav ul li,
  #top-bar {
    padding: 0 10vw; } }

@media screen and (min-width: 1000px) {
  #main-nav ul li,
  #top-bar {
    padding: 0 20vw; } }

@media screen and (min-width: 1500px) {
  #main-nav ul li,
  #top-bar {
    padding: 0 15vw; } }

@media screen and (min-width: 2500px) {
  #main-nav ul li,
  #top-bar {
    padding: 0 25vw; } }

main > section {
  padding: 2vw 4vw;
  grid-area: section;
  min-width: 100%; }

@media screen and (min-width: 500px) {
  main > section {
    padding: 2vw 10vw; } }

@media screen and (min-width: 1000px) {
  main > section {
    padding: 4vw 20vw; } }

@media screen and (min-width: 1500px) {
  main > section {
    padding: 6vw 15vw; } }

@media screen and (min-width: 2500px) {
  main > section {
    padding: 8vw 25vw; } }

.post-list ul {
  margin: 0;
  padding: 0; }
  .post-list ul li {
    list-style-type: none;
    width: 100%; }
    .post-list ul li .post-list-item {
      color: var(--purple);
      background: var(--bgdarker);
      display: block;
      border-radius: 4px;
      margin: 1vw 0;
      padding: 2vw 4vw;
      list-style-type: none;
      text-decoration: none;
      flex-basis: 100%; }
    .post-list ul li .post-list-item,
    .post-list ul li .post-list-item:visited,
    .post-list ul li .post-list-item:active,
    .post-list ul li .post-list-item:hover,
    .post-list ul li .post-list-item:focus {
      color: var(--purple);
      background: var(--bgdarker); }
    .post-list ul li .post-list-item:focus {
      border: 3px solid dashed; }
    .post-list ul li .post-list-item h5 {
      margin-top: 0.5em;
      background: var(--bg); }
    .post-list ul li a.post-list-item:hover h5 {
      text-decoration: underline;
      text-decoration-color: var(--green); }
    .post-list ul li .post-list-item p {
      color: var(--green);
      background: var(--bg); }
    .post-list ul li a.post-list-item:hover p {
      text-decoration: underline;
      text-decoration-color: var(--purple); }

.tag-list,
.category-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0; }

a.tag,
a.category {
  padding: 5px 15px;
  margin: 5px;
  border-radius: 4px; }

a.category {
  color: var(--bgdarker);
  background: var(--red); }

a.category,
a.category:visited,
a.category:hover,
a.category:active {
  color: var(--bgdarker); }

a.tag {
  color: var(--bgdarker);
  background: var(--purple); }

a.tag,
a.tag:visited,
a.tag:hover,
a.tag:active {
  color: var(--bgdarker); }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: var(--bgdarker) !important; }

pre,
li > code,
p > code {
  background-color: var(--pre-bg-color);
  border: 1px solid;
  font-size: 0.8em;
  white-space: pre;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal; }

li > code,
p > code {
  padding-left: 10px;
  padding-right: 10px; }

.hamburger-outer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%; }

.hamburger-inner {
  width: 100%;
  background: var(--background);
  height: 8px;
  display: inline-block;
  border-radius: 5px;
  position: relative; }

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  border-radius: 5px;
  display: inline-block;
  height: 8px;
  width: 100%;
  position: absolute;
  left: 0;
  background: var(--background); }

.hamburger-inner::before {
  top: -16px; }

.hamburger-inner::after {
  bottom: -16px; }
