@import url("https://fonts.googleapis.com/css?family=Fira+Code:400,600");
:root {
  --fg: #f8f8f2;
  --bglighter: #424450;
  --bglight: #343746;
  --bg: #282a36;
  --bgdark: #21222c;
  --bgdarker: #191a21;
  --comment: #6272a4;
  --selection: #44475a;
  --subtle: #424450;
  --cyan: #8be9fd;
  --green: #50fa7b;
  --orange: #ffb86c;
  --pink: #ff79c6;
  --purple: #bd93f9;
  --red: #f55;
  --yellow: #f1fa8c;
  --background: #282a36;
  --comment: #6272a4;
  --foreground: #f8f8f2;
  --selection: #44475a;
  --cyan: #8be9fd;
  --green: #50fa7b;
  --orange: #ffb86c;
  --pink: #ff79c6;
  --purple: #bd93f9;
  --red: #f55;
  --yellow: #f1fa8c;
  --background-30: #282a3633;
  --comment-30: #6272a433;
  --foreground-30: #f8f8f233;
  --selection-30: #44475a33;
  --cyan-30: #8be9fd33;
  --green-30: #50fa7b33;
  --orange-30: #ffb86c33;
  --pink-30: #ff79c633;
  --purple-30: #bd93f933;
  --red-30: #f553;
  --yellow-30: #f1fa8c33;
  --background-40: #282a3666;
  --comment-40: #6272a466;
  --foreground-40: #f8f8f266;
  --selection-40: #44475a66;
  --cyan-40: #8be9fd66;
  --green-40: #50fa7b66;
  --orange-40: #ffb86c66;
  --pink-40: #ff79c666;
  --purple-40: #bd93f966;
  --red-40: #f556;
  --yellow-40: #f1fa8c66;
  --a: mediumspringgreen;
  --c: deeppink;
  --d: darkviolet;
  --e: dodgerblue;
  --f: fuchsia;
  --g: chartreuse;
  --h: crimson;
  --i: yellow;
  --j: black;
  --k: white;
  --l: dimgrey;
  --m: mediumslateblue;
  --n: darkorchid;
  --o: hotpink;
  --top-bar-color: #e1e1e1;
  --top-bar-bg-color: #e1e1e1;
  --toggle-main-nav-color: #e1e1e1;
  --toggle-main-nav-bg-color: #e1e1e1;
  --header-color: #e1e1e1;
  --header-bg-color: #e1e1e1;
  --body-color: #2c2c2c;
  --body-bg-color: #fff;
  --body-font-size: 16px;
  --main-color: #fff;
  --main-bg-color: whitesmoke;
  --footer-color: #e1e1e1;
  --footer-bg-color: #e1e1e1;
  --nav-bg-color: #32425c;
  --nav-color: #fff;
  --pre-color: #f5f5f5;
  --pre-bg-color: #f5f5f5;
  --table-bg-color: #e1e1e1;
  --thead-bg-color: #d2d2d2;
  --link-color: #1167ef;
  --link-visited-color: #07398c;
  --link-hover-color: #011225;
  --link-active-color: #1167ef; }

html {
  box-sizing: border-box;
  word-break: break-word; }

*,
*::before,
*::after {
  box-sizing: inherit; }

*:focus {
  outline: 3px dashed black; }

body {
  color: var(--body-color);
  font-size: calc(var(--body-font-size) + 1 * (100vw / 500));
  margin: 0;
  overflow-x: hidden;
  padding: 0; }

.overflow-hidden {
  overflow: hidden !important; }

.hidden {
  visibility: hidden; }

.vertical-bar {
  background-color: currentColor;
  height: 2em;
  margin: 0 1em;
  width: 3px; }

.lower {
  text-transform: lowercase; }

.upper {
  text-transform: uppercase; }

.caps {
  text-transform: capitalize; }

*[data-hidden] {
  visibility: hidden; }

#skip {
  left: 0;
  position: fixed;
  top: 0;
  z-index: 5; }

#skip a,
#skip a:visited,
#skip a:active,
#skip a:hover {
  color: var(--foreground);
  left: -10000px;
  overflow: hidden;
  position: absolute;
  transition: all 300ms; }

@keyframes skip {
  from {
    position: absolute; }
  to {
    position: static; } }

#skip a:focus {
  animation-delay: 300ms;
  animation-fill-mode: both;
  animation-name: skip;
  background: var(--pink);
  margin: 20px 50px;
  outline-color: white;
  padding: 15px 20px;
  transition: all 300ms; }

/* Links */
a {
  color: var(--link-color); }

a:visited {
  color: var(--link-visited-color); }

a:hover {
  color: var(--link-hover-color); }

body {
  background: white;
  font-family: 'Fira Code', monospace;
  font-weight: 400;
  line-height: 1.75; }

p {
  margin-bottom: 1em; }

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Fira Code', monospace;
  font-weight: 600;
  line-height: 1.3; }

h1 {
  margin-top: 0;
  font-size: 3.052rem; }

h2 {
  font-size: 2.441rem; }

h3 {
  font-size: 1.953rem; }

h4 {
  font-size: 1.563rem; }

h5 {
  font-size: 1.25rem; }

small,
.text_small {
  font-size: 0.8rem; }

h1 {
  margin-top: 2em;
  margin-bottom: 0.25em; }

h1:target {
  margin-top: -2em;
  padding-top: 4em;
  display: inline-block; }

h1 a,
h1 a:visited,
h1 a:active {
  display: inline;
  color: inherit;
  margin-left: 0.5em;
  text-decoration: none; }

h1 a:hover {
  text-decoration: underline; }

h2 {
  margin-top: 2em;
  margin-bottom: 0.25em; }

h2:target {
  margin-top: -2em;
  padding-top: 4em;
  display: inline-block; }

h2 a,
h2 a:visited,
h2 a:active {
  display: inline;
  color: inherit;
  margin-left: 0.5em;
  text-decoration: none; }

h2 a:hover {
  text-decoration: underline; }

h3 {
  margin-top: 2em;
  margin-bottom: 0.25em; }

h3:target {
  margin-top: -2em;
  padding-top: 4em;
  display: inline-block; }

h3 a,
h3 a:visited,
h3 a:active {
  display: inline;
  color: inherit;
  margin-left: 0.5em;
  text-decoration: none; }

h3 a:hover {
  text-decoration: underline; }

h4 {
  margin-top: 2em;
  margin-bottom: 0.25em; }

h4:target {
  margin-top: -2em;
  padding-top: 4em;
  display: inline-block; }

h4 a,
h4 a:visited,
h4 a:active {
  display: inline;
  color: inherit;
  margin-left: 0.5em;
  text-decoration: none; }

h4 a:hover {
  text-decoration: underline; }

h5 {
  margin-top: 2em;
  margin-bottom: 0.25em; }

h5:target {
  margin-top: -2em;
  padding-top: 4em;
  display: inline-block; }

h5 a,
h5 a:visited,
h5 a:active {
  display: inline;
  color: inherit;
  margin-left: 0.5em;
  text-decoration: none; }

h5 a:hover {
  text-decoration: underline; }

article {
  margin-bottom: 3em; }

blockquote {
  background: #f0f0f0;
  border-left: var(--body-color) 0.5em solid;
  padding: 0.5em 1.5em;
  margin: 1em;
  margin-inline-start: 1em;
  margin-inline-end: 1em; }

cite {
  font-size: 0.9em; }

table,
pre {
  overflow-x: auto; }

table {
  border: 1px solid; }

thead {
  background: var(--yellow); }

tbody {
  background: var(--yellow-40); }

th,
td {
  border: 1px solid;
  padding: 1vw; }

/* Links */
a {
  color: var(--link-color); }

a:visited {
  color: var(--link-visited-color); }

a:hover {
  color: var(--link-hover-color); }

aside#outline {
  margin-top: 4em;
  margin-bottom: 4em; }
  aside#outline nav#TableOfContents ul {
    list-style-type: none;
    font-weight: bold;
    padding: 0;
    padding-left: calc(40px - 1em);
    border-left: 0.5em solid var(--cyan);
    margin-left: 0.5em; }
    aside#outline nav#TableOfContents ul a {
      color: var(--body-color); }
    aside#outline nav#TableOfContents ul a:visited {
      color: var(--body-color); }
    aside#outline nav#TableOfContents ul a:hover {
      color: var(--body-color); }
    aside#outline nav#TableOfContents ul a:active {
      color: var(--body-color); }
    aside#outline nav#TableOfContents ul a {
      text-decoration: none; }
  aside#outline h2 {
    margin-top: 1em; }
  aside#outline ~ h2 {
    padding-top: 0; }

/* Links */
a {
  color: var(--link-color); }

a:visited {
  color: var(--link-visited-color); }

a:hover {
  color: var(--link-hover-color); }

body {
  display: grid;
  grid-template-areas: 'actions' 'head' 'main' 'foot';
  grid-template-columns: 100vw;
  grid-template-rows: 55px minmax(16em, max-content) 1fr 12em;
  height: 100%;
  max-width: 100vw;
  min-height: 100vh; }
  body.modal-open {
    overflow: hidden !important; }

#menu-bar {
  align-items: center;
  background: var(--bg);
  display: flex;
  flex-flow: row wrap;
  grid-area: actions;
  left: 0;
  padding: 15px 1em;
  position: sticky;
  top: 0;
  z-index: 2; }
  #menu-bar *:focus {
    outline: dashed 3px var(--foreground); }
  #menu-bar .hamburger {
    background: var(--green);
    border: none;
    color: var(--nav-bg-color);
    padding: 0.1em 10px;
    height: calc(100% - 1em);
    width: 3.5em;
    min-width: 55px;
    border-radius: 4px; }
    #menu-bar .hamburger .hamburger-inner {
      border-radius: 4px; }

header {
  align-items: center;
  display: flex;
  grid-area: head;
  justify-content: center; }
  header a {
    color: var(--purple); }
  header a:visited {
    color: var(--purple); }
  header a:hover {
    color: var(--purple); }
  header a:active {
    color: var(--purple); }
  header > * {
    background-color: var(--bg);
    color: var(--purple) !important; }
  header *:focus {
    outline: dashed 3px var(--foreground); }

@keyframes blink {
  0% {
    background: inherit; }
  100% {
    background: var(--bglighter); } }

.site-title {
  margin: 0 auto;
  background-color: var(--bg);
  color: var(--purple) !important;
  font-weight: bold;
  text-decoration: none;
  text-transform: lowercase; }
  .site-title span:first-of-type,
  .site-title span:last-of-type {
    color: var(--green); }
  .site-title span:nth-last-child(0n + 2) {
    background: var(--bglighter); }
  @media screen and (max-width: 330px) {
    .site-title {
      display: none; } }
  .site-title:hover span:nth-last-child(0n + 2) {
    animation: blink 1s infinite; }

#main-nav {
  background-color: var(--bgdarker);
  bottom: 0;
  left: -100vw;
  opacity: 0;
  overflow-y: scroll;
  position: fixed;
  right: 0;
  top: 55px;
  transition: opacity, left, 300ms ease-in-out;
  z-index: 1; }
  #main-nav *:focus {
    outline: dashed 3px var(--foreground); }
  #main-nav.active {
    opacity: 1;
    transform: translateX(100vw); }
  #main-nav a,
  #main-nav a:visited,
  #main-nav a:hover,
  #main-nav a:focus {
    color: var(--purple);
    font-size: 1em;
    line-height: 1.2; }
  #main-nav ul {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    justify-items: flex-start;
    margin: 0;
    min-height: 100%;
    padding: 2em 0; }
    #main-nav ul li {
      align-items: center;
      display: flex;
      flex-flow: row wrap;
      font-weight: bold;
      justify-content: flex-start;
      margin: 0.15em 0;
      padding: 0.35em 0;
      text-transform: uppercase;
      width: 100%; }
      #main-nav ul li.active,
      #main-nav ul li.active a {
        background: var(--purple);
        color: var(--bgdarker); }
      #main-nav ul li a {
        text-decoration: none; }
      #main-nav ul li a:hover {
        text-decoration: underline 3px var(--green); }

main {
  display: grid;
  grid-area: main;
  grid-template-areas: 'section';
  grid-template-columns: 1fr;
  max-width: 100vw;
  position: relative; }
  main h1 {
    text-transform: uppercase; }

main > section {
  grid-area: section;
  padding: 5vw;
  max-width: 100vw; }
  main > section#single #sidebar-right nav {
    background: var(--yellow-40); }
  main > section#single #sidebar-right strong {
    display: inline-block;
    text-transform: uppercase;
    color: var(--pink);
    background: var(--bg);
    width: 100%; }

footer {
  align-items: center;
  background-color: var(--bgdark);
  color: white;
  display: grid;
  grid-area: foot;
  grid-template-columns: 1fr 2em 1fr;
  grid-template-rows: auto; }
  footer a {
    color: var(--purple); }
  footer a:visited {
    color: var(--purple); }
  footer a:hover {
    color: var(--purple); }
  footer a:active {
    color: var(--purple); }
  footer:first-child {
    justify-self: end; }
  footer .left {
    display: flex;
    justify-content: flex-end; }
    footer .left small {
      text-align: right; }
  footer .right {
    display: flex;
    justify-content: flex-start; }
  footer *:focus {
    outline: dashed 3px var(--foreground); }

#main-nav ul li,
#menu-bar {
  padding: 0 5vw; }

@media screen and (min-width: 500px) {
  #main-nav ul li,
  #menu-bar {
    padding: 0 10vw; }
  main > section {
    padding: 1vw 10vw 1vw; } }

@media screen and (min-width: 1000px) {
  #main-nav ul li,
  #menu-bar {
    padding: 0 15vw; }
  main > section {
    padding: 2vw 15vw 4vw; } }

@media screen and (min-width: 1500px) {
  #main-nav ul li,
  #menu-bar {
    padding: 0 25vw; }
  main > section {
    padding: 3vw 25vw 6vw; }
    main > section #sidebar-right {
      position: absolute;
      top: 0;
      left: calc(100vw - 25vw);
      padding-top: 3vw;
      padding-bottom: 6vw; } }

@media screen and (min-width: 2500px) {
  #main-nav ul li,
  #menu-bar {
    padding: 0 30vw; }
  main > section {
    padding: 4vw 30vw 8vw; }
    main > section #sidebar-right {
      left: calc(100vw - 30vw);
      padding-top: 4vw;
      padding-bottom: 8vw; } }

.post-list ul {
  margin: 0;
  padding: 0; }
  .post-list ul li {
    list-style-type: none;
    width: 100%; }
    .post-list ul li .post-list-item {
      background: var(--bgdarker);
      border-radius: 0px;
      color: var(--purple);
      display: block;
      flex-basis: 100%;
      list-style-type: none;
      margin: 2.5em 0;
      padding: 0;
      text-decoration: none; }
    .post-list ul li .post-list-item,
    .post-list ul li .post-list-item:visited,
    .post-list ul li .post-list-item:active,
    .post-list ul li .post-list-item:hover,
    .post-list ul li .post-list-item:focus {
      background: var(--bgdarker);
      color: var(--purple); }
    .post-list ul li .post-list-item h5 {
      background: var(--bg);
      margin-top: 0.5em; }
    .post-list ul li a.post-list-item:hover h5 {
      text-decoration: underline;
      text-decoration-color: var(--green); }
    .post-list ul li .post-list-item p {
      background: var(--bg);
      color: var(--green); }
    .post-list ul li a.post-list-item:hover p {
      text-decoration: underline;
      text-decoration-color: var(--purple); }

.tag-list,
.category-list {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .tag-list li:first-of-type a,
  .category-list li:first-of-type a {
    margin-left: 0; }
  .tag-list li,
  .category-list li {
    margin: 0;
    margin-bottom: 0.5em; }

a.tag,
a.category {
  border-radius: 0px;
  margin: 0 5px;
  padding: 5px 15px;
  text-transform: uppercase; }

a.category {
  background: var(--red);
  color: var(--bgdarker); }

a.category,
a.category:visited,
a.category:hover,
a.category:active {
  color: var(--bgdarker); }

a.tag {
  background: var(--purple);
  color: var(--bgdarker); }

a.tag,
a.tag:visited,
a.tag:hover,
a.tag:active {
  color: var(--bgdarker); }

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background-color: var(--bgdarker) !important;
  border-radius: 0 !important; }

pre,
li > code,
p > code {
  color: var(--cyan);
  background-color: var(--bglighter);
  border: var(--bgdark) 2px solid;
  padding: 0.2em;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 0.8em;
  text-align: left;
  white-space: pre;
  white-space: pre-line;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal; }

li > code,
p > code {
  padding-left: 10px;
  padding-right: 10px; }

div.highlight {
  margin-left: 1em;
  margin-right: 1em; }

.hamburger-outer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%; }

.hamburger-inner {
  background: var(--background);
  display: inline-block;
  height: calc(100% / 7);
  position: relative;
  width: 100%; }
